@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Merienda&display=swap');

/* General style */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: white;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 2.5rem;
  color: #2d3934;
}

/* Headings */

h1 {
  font-family: 'Merienda', cursive;
  font-size: 3rem;
  color: #2d3934;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h2 {
  font-family: 'Merienda', cursive;
  font-size: 2rem;
  color: #2d3934;
  margin-top: 2rem;
  margin-bottom: 2rem;
}