@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Raleway:wght@300&display=swap');

/* General style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    color: #2d3934;
}

/* Headings */

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.75rem;
    text-transform: uppercase;
    color: #2d3934;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.75rem;
    color: #2d3934;
    margin-bottom: 2rem;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #2d3934;
    margin-bottom: 2rem;
}

/* General container and content styling */

.general-container {
    background-color: #adb493;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    max-height: unset;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
  
.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
  
.flex-row {
    display:flex;
    flex-direction: row;
}
  
.flex-center {
    justify-content: center;
    align-items: center;
}

/* Photos */
img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    height: auto;
}

.animal.photos {
    display: flex;
}

/* Buttons */

.btn-start,
.btn-quiz,
.btn-home {
    display: flex;
    width: 15rem;
    justify-content: center;
    border-radius: 15px;
    background-color: #d8dcd0;
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2d3934;
}

.btn-start {
    margin: 4rem 1.5rem;
}

.btn-quiz {
    margin: 1rem 1.5rem;
}

.btn-home {
    margin: 0.5rem 1.5rem 3rem 1.5rem;
}

.btn-start:active,
.btn-start:hover,
.btn-quiz:active,
.btn-quiz:hover,
.btn-home:active,
.btn-home:hover {
    background-color: #2d3934;
    color: #d8dcd0;
}

.next-question {
    display: flex;
    margin: 3rem 1.5rem 3rem 1.5rem;
    justify-content: center;
}

#next-question {
    width: 7.5rem;
    justify-content: center;
    border-radius: 15px;
    background-color: #2d3934;
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #d8dcd0;
}

#next-question:active,
#next-question:hover {
    background-color: #d8dcd0;
    color: #2d3934;
}

/* Quiz page */

.question-counter-heading {
    float: left;
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.question-counter {
    float: left;
    margin-left: 2.2rem;
    font-size: 1.5rem;
}

.score-heading {
    float: right;
    margin-top: 1.5rem;
    margin-right: 3rem;
}

#score-counter {
    float: right;
    margin-right: 2.2rem;
    font-size: 1.5rem;
}

#question-counter-heading,
#score-heading {
    margin-bottom: 0;
}

.question {
    display: flex;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-top: 10rem;
    justify-content: center;
    text-align: center;
}

.choices {
    display: flex;
    margin: 1.5rem 1.5rem;
    justify-content: center;
}

.choice {
    width: 25rem;
    justify-content: center;
    border-radius: 15px;
    background-color: #d8dcd0;
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2d3934;
}

.choice:focus,
.choice:hover {
    background-color: #2d3934;
    color: #d8dcd0;
}

/* Score page */

.score-text {
    margin-top: 3rem;
}

/* Footer section */

#footer {
    height: 55px;
    width: 80%;
    justify-content: center;
    align-items: center;
    max-height: unset;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 1rem;
    background-color: #adb493;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    color: #2d3934;  
}
/* Media queries */
/* for screen sizes 1120px and down */

@media screen and (max-width: 1120px){

    body {
        background-color: #adb493;
    }
}

/* for screen sizes 600px and down */

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2.1rem;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    h2 {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
    
    h3 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .question-counter-heading {
        margin-top: 1.5rem;
        margin-left: 1rem;
    }
    
    .question-counter {
        margin-left: 1.75rem;
        font-size: 1.25rem;
    }
    
    .score-heading {
        margin-top: 1.5rem;
        margin-right: 1rem;
    }
    
    #score-counter {
        margin-right: 1.75rem;
        font-size: 1.25rem;
    }

    .question {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 8rem;
    }

    img {
        width: 200px;
        height: 200px;
        max-width: 100%;
        height: auto;
    }

    .btn-start,
    .btn-quiz,
    .btn-home {
        width: 10rem;
        font-size: 1.05rem;
    }

    #next-question {
        font-size: 1.05rem;
    }

    .choice {
        font-size: 1.05rem;
    }
}

/* for screen sizes 415px and down */

@media screen and (max-width: 415px){

    h1 {
        font-size: 1.75rem;
        margin-top: 1.25rem;
        margin-bottom: 2.5rem;
    }

    h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    
    h3 {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .question {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 7rem;
    }

    .btn-start,
    .btn-quiz,
    .btn-home {
        width: 9rem;
        padding: 0.75rem;
        font-size: 1rem;
    }

    #next-question {
        padding: 0.75rem;
        font-size: 1rem;
    }

    .choice {
        padding: 0.75rem;
        font-size: 1rem;
    }
}