@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Merienda&display=swap');

/* General style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.5rem;
    color: #2d3934;
}

/* Headings */

h1 {
    font-family: 'Merienda', cursive;
    font-size: 3rem;
    color: #2d3934;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Merienda', cursive;
    font-size: 2rem;
    color: #2d3934;
    margin-bottom: 2rem;
}

/* General container and content styling */

.general-container {
    background-color: #adb493;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-height: 800px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 2rem;
}
  
.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
  
.flex-row {
    display:flex;
    flex-direction: row;
}
  
.flex-center {
    justify-content: center;
    align-items: center;
}

/* Photos */

.animal.photos {
    clear: both;
    display: flex;
    column-count: 4;
    column-gap: 0;
}

/* Buttons */

.btn {
    display: flex;
    margin: 1rem 1.5rem;
    width: 10rem;
    justify-content: center;
    border-radius: 15px;
    background-color: #d8dcd0;
    padding: 1rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #2d3934;
}

.btn:active,
.btn:hover {
    background-color: #2d3934;
    color: #d8dcd0;
}

/* Quiz page */

.question-counter-heading {
    float: left;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.question-counter {
    float: left;
    margin-left: 1.75rem;
    font-size: 1.5rem;
}

.score-heading {
    float: right;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
}

.score {
    float: right;
    margin-right: 1.75rem;
    font-size: 1.5rem;
}

#question-counter-heading,
#score-heading {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.question {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 10rem;
    justify-content: center;
}

.choices {
    display: flex;
    margin: 1.5rem 1.5rem;
    justify-content: center;
}

.choice {
    width: 25rem;
    justify-content: center;
    border-radius: 15px;
    background-color: #d8dcd0;
    padding: 1rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #2d3934;
}

.choice:active,
.choice:hover {
    background-color: #2d3934;
    color: #d8dcd0;
}